/* Universal Selector 

* {
    background-color: cyan;
}

*/

/* HTML Element Selector */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

/* HTML Element Selector List */

h1, h2 {
    color: #1d3557;
}

/* ID Selector */

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

/* Class Selector */

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 12px;
}

/* Descendent Selector */

.post a {
    color: #457b9d;
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: #e63946;
}

/* Adjacent Selector */

h2 + button {
    font-size: 20px;
    background-color: magenta;
}

/* Direct Descendent Selector */

footer > a {
    color: #457b9d;
}

/* Attribute Selector */

input[type="password"] {
    color: #e63946;
}

a[href*="google"] {
    color: magenta;
}

/* Psuedo Classes */

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover {
    text-decoration: underline;
}