/* Universal Selector 

* {
    background-color: cyan;
}

*/

/* HTML Element Selector */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
}

/* HTML Element Selector List */

h1, h2 {
    color: #1d3557;
}