h1 {
    text-align: center;
    font-weight: normal; /* or font-weight: 400; */
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}