*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #f5d9d5;
    font-family: Nunito, sans-serif;
}

nav {
    font-size: 1.5rem;
    font-weight: 100;
}

.navbar-brand {
    font-size: 1.5rem;
}

a.nav-link {
    transition: color 200ms;
}

a.nav-link:hover {
    color: #dc3545 !important;
}

#heroText h1 {
    font-weight: 100;
    font-size: 4rem;
}

#heroText span {
    color: #ea1c2c;
}

article + article {
    margin: 6rem 0;
}

h2 {
    font-weight: 100;
    font-size: 2.5rem;
}

p.lead {
    line-height: 2;
}