/*
    Apply the following styles:

    1) header links to be 30px and teal color
    2) paragraph with id dislikes links to be bold and red color

*/

header a {
    font-size: 30px;
    color: teal;
}

#dislikes a {
    font-weight: bold;
    color: red;
}