/*
    style the logo with the following:
    1) uppercase all letters
    2) set font to monospace
    3) center align the text
    4) set font weight 100
    5) make text size 40px
    6) set letter spacing to 20px
    7) add a wavy plum underline
*/

h1 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
}