<% layout('layouts/boilerplate')%>
    <h1>Add New Campground</h1>
    <form action="/new-campground" method="POST">
        <p>
            <label for="title" class="form-label">Campground Name</label>
            <input type="text" id="title" class="form-control" name="campground[title]">
        </p>
        <p>
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-control" name="campground[location]" placeholder="City, State">
        </p>
        <button class="btn btn-success">Add</button>
    </form>
    <a class="btn btn-primary" href="/campgrounds">All Campgrounds</a>