<% layout('layouts/boilerplate')%>
    <h1>Add New Campground</h1>
    <form action="/new-campground" method="POST">
        <p>
            <label for="title">Campground Name</label>
            <input type="text" id="title" name="campground[title]">
        </p>
        <p>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" placeholder="City, State">
        </p>
        <button>Add</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>