<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Campground</title>
</head>
<body>
    <h1>Add New Campground</h1>
    <form action="/new-campground" method="POST">
        <p>
            <label for="title">Campground Name</label>
            <input type="text" id="title" name="campground[title]">
        </p>
        <p>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" placeholder="City, State">
        </p>
        <button>Add</button>
    </form>
</body>
</html>