<% layout('layouts/boilerplate')%>
    <h1>Add New Campground</h1>
    <form class="needs-validation" action="/campgrounds" method="POST" novalidate enctype="multipart/form-data">
        <p>
            <label for="title" class="form-label">Campground Name</label>
            <input type="text" id="title" class="form-control" name="campground[title]" required>
            <p class="valid-feedback">
                VALID CAMPGROUND NAME
            </p>
            <p class="invalid-feedback">
                INVALID CAMPGROUND NAME
            </p>
        </p>
        <p>
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-control" name="campground[location]" placeholder="City, State" required>
            <p class="valid-feedback">
                VALID CAMPGROUND LOCATION
            </p>
            <p class="invalid-feedback">
                INVALID CAMPGROUND LOCATION
            </p>
        </p>
        <p>
            <label for="price" class="form-label">Price Per Night</label>
            <input type="text" id="price" class="form-control" name="campground[price]" placeholder="22.99" required>
            <p class="valid-feedback">
                VALID CAMPGROUND PRICE
            </p>
            <p class="invalid-feedback">
                INVALID CAMPGROUND PRICE
            </p>
        </p>
        <p class="input-group mb-3 custom-file">
            <label class="input-group-text custom-file" for="image">Select Image(s)</label>
            <input type="file" class="form-control" id="image" name="image" multiple>
        </p>
        <p>
            <label for="description" class="form-label">Description</label>
            <textarea name="campground[description]" id="description" class="form-control" cols="30" rows="10" required></textarea>
            <p class="valid-feedback">
                VALID CAMPGROUND DESCRIPTION
            </p>
            <p class="invalid-feedback">
                INVALID CAMPGROUND DESCRIPTION
            </p>
        </p>
        <button class="btn btn-success">Add</button>
    </form>
    <a class="btn btn-primary" href="/campgrounds">All Campgrounds</a>