<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous" defer></script>
</head>
<body class="container d-flex flex-column">
    <%- include('../partials/navbar') %> 
    <main class="row">
        <section id="hero-container" class="col-10">
            <div class="hero-text">
                <h1>YelpCamp</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis quos provident aut reprehenderit et reiciendis consectetur magnam iusto, voluptate facere odio molestias! Mollitia recusandae dignissimos tempora cumque quisquam molestias.
                </p>
            </div>
            <div class="hero-links">
                <a class="btn btn-primary" href="/campgrounds">
                    All Campgrounds
                </a>
                <% if (!user) { %>
                    <a class="btn btn-success" href="/register">
                        Register Now
                    </a>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>