body {
  font-family: 'Roboto', sans-serif;
  background-color: #151b29;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: border-color 250ms,
              color 250ms,
              box-shadow 250ms,
              transform 250ms;
}

button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
}